/* app css stylesheet */
:root {
  --primary-color: #ffa000;
  --primary-color-light: #ffd149;
  --primary-color-dark: #c67100;
  --text-color: black;
}

body {
  font: normal 15px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 65px auto 0 auto;
}

.container * {
  box-sizing: border-box;
}

.navbar > ul {
  z-index: 100;
  list-style-type: none;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: auto;
}

.navbar > ul li {
  float: left;
}

.navbar > ul li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
  padding: 13px 16px;
  text-decoration: none;
  cursor: pointer;
}

.navbar > ul li a:hover:not(.active) {
  background-color: var(--primary-color-dark);
}

.active {
  background-color: var(--primary-color-light);
}

/* Users-list */
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 620px;
  margin: auto;
  padding: 15px 5px;
  background: var(--primary-color);
}

.users-container {
  position: relative;
  overflow: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
}

@media (min-width: 401px) {
  .users-container {
    max-width: 620px;
  }
}

.user-container {
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  padding: 10px 0;
  background: var(--primary-color);
  border-bottom: 2px solid var(--primary-color-dark);
}

.user-details:hover {
  cursor: pointer;
}

.user-name {
  margin: 0 10px;
  user-select: none;
  font-weight: 300;
  letter-spacing: 0.09em;
}

.user-pic {
  margin: 0 10px;
  border: 1px solid green;
}

/* Posts */
.posts-container {
  box-sizing: border-box;
  background-color: #E0E0E0;
  text-align: left;
  padding: 0 10px;
  width: auto;
}

.post-title {
  border: 1px solid black;
}
.post-body {
  padding-left: 20px;
}

/* New Posts */
.flex-outer {
  max-width: 620px;
  margin: 0 auto;
  background: var(--primary-color);
  list-style-type: none;
  padding: 10px;
}

.flex-outer li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer li input::placeholder,
.flex-outer li textarea::placeholder {
  font-weight: 300;
  letter-spacing: .09em;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
  max-width: 400px;
  border: solid;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  text-transform: uppercase;
  background: var(--primary-color-dark);
  color: var(--text-color);
  border-radius: .09em;
  letter-spacing: 0.09em;
}